#fondo {
    background-image: url('assets/fondo.png');
    height: 800px;
    width: 1200px;
}

#heroe {
    background-image: url('assets/heroe.png');
    height: 50px;
    width: 50px;
    position: absolute;
    top: 700px;
    left: 575px;
}

.enemigo {
    background-image: url('assets/enemigo.png');
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    left: 575px;
}

#misiles {
    height: 800px;
    width: 1200px;
    position: absolute;
}

.misil {
    background-image: url('assets/misil.png');
    height: 38px;
    width: 10px;
    position: absolute;
}