body{
    margin: 0;
}

#fondo {
    background-image: url('assets/fondo.png');
    height: 800px;
    width: 1200px;
}

#heroe {
    background-image: url('assets/heroe.png');
    height: 50px;
    width: 50px;
    position: absolute;
    top: 700px;
    left: 575px;
    z-index: 2;
}

#enemigos {
    height: 800px;
    width: 1200px;
    position: absolute;
}

.enemigo {
    background-image: url('assets/enemigo.png');
    height: 50px;
    width: 50px;
    position: absolute; 
}

#misiles {
    height: 800px;
    width: 1200px;
    position: absolute;
    z-index: 1;
}

.misil {
    background-image: url('assets/misil.png');
    height: 38px;
    width: 10px;
    position: absolute;
}

.win {
    display: none;
    position: absolute;
    background-color: rgb(11, 77, 11);
    color: white;
    padding: 20px 50px;
    box-shadow: 0 2px 10px black;
    border-radius: 10px;
    text-align: center;
    animation: pop-in 1s;
    z-index: 3;
    left: 422px;
    top: 327.5px;
}

.lose {
    display: none;
    position: absolute;
    background-color: rgb(151, 28, 28);
    color: white;
    padding: 20px 50px;
    box-shadow: 0 2px 10px black;
    border-radius: 10px;
    text-align: center;
    animation: pop-in 1s;
    z-index: 3;
    left: 422px;
    top: 327.5px;
}